

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body style="margin:0; padding: 10%; box-sizing: border-box;font-family: Tahoma;">
    <h1>SignUp Page</h1>

    <div>
        <form method="post" action="/user/">
            <label for="">Enter UserName</label>
            <input type="text" name="username" placeholder="User Name" id="">
            <label for="">Enter Password</label>
            <input type="password" name="password" placeholder="User Name" id="">
            <label for="">Enter Email</label>
            <input type="email" name="email" placeholder="User Name" id="">
            <button type="submit">SignUp</button>
        </form>
    </div>


</body>
</html>